// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Encode+Sans:wght@300;400&display=swap");

$title-font-family: "Amatic SC", cursive;
$body-font-family: "Encode Sans", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amatic SC", cursive;
}
.full-height {
    height: 100% !important;
}
